{% extends 'layout.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static  'css/product-listing.css' %}" />
<main id="product-section">
  <section class="hero-section">
    <div class="pd-container">
      <p>Filter by</p>
      <ul class="filter-menu">
        <li class="ft-1">
          <p>Availability</p>
          <ul class="avb-filter">
            <li><input type="checkbox" name="availability" value="all" /> All</li>
            <li>
              <input type="checkbox" name="availability" value="in stock" /> In
              Stock
            </li>
          </ul>
        </li>
        <li class="ft-2">
          <p>Price</p>
          <ul class="price-range">
            <input
              type="range"
              min="0"
              max="1000"
              value="500"
              class="slider"
              id="price-range"
            />
            <label for="price-range">Price Range: $0 - $1000</label>
          </ul>
        </li>
        <li class="ft-3">
          <p>Brand</p>
          <ul class="brand-filter">
            <li><input type="checkbox" name="brand" value="brand1" /> Brand 1</li>
            <li><input type="checkbox" name="brand" value="brand2" /> Brand 2</li>
            <li><input type="checkbox" name="brand" value="brand3" /> Brand 3</li>
            <li><input type="checkbox" name="brand" value="brand4" /> Brand 4</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</main>

{% endblock %}
